:root {
  --noto: 'Noto Sans', sans-serif;
  --gentium: 'Gentium Plus', serif;
  --inconsolata: 'Inconsolata', monospace;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  text-align: center;
  font-family: var(--noto);
  background: var(--bg);
  color: var(--fg);
}

h1 {
  padding: 1em;
  padding-bottom: 0.5em;
}

#bonehouse {
  padding: 0;
  min-height: 92%;
  display: flex;
  flex-direction: column;
}

#eyes {
  padding: 1px;
  font-family: var(--inconsolata);
  font-size: xx-large;
}

#ight:hover, #thgi:hover {
  cursor: pointer;
  color: var(--shadow);
  filter: drop-shadow(0 0 5px var(--shadow));
}

#mouth div {
  min-height: 10ex;
}

#about p {
  margin: 0.5em 1em;
}

#backbone {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
}

#backbone > div {
  display: flex;
  flex-basis: 48%;
  border: 1px solid var(--fg);
}

#asy, #svg {
  flex: 1;
  border: none;
  background: var(--mg);
  color: var(--fg);
  font-size: larger;
}

#asy {
  padding: 0.5em;
  font-family: var(--inconsolata);
  color: var(--fg);
}

#svg {
  margin-left: auto;
  margin-right: auto;
  background: white;
  font-family: var(--gentium);
}

.open {
  display: none;
}

.open .otherworldly::before {
  content: '⟨';
}

.open .otherworldly::after {
  content: '⟩';
}

.closed .otherworldly::before, .closed .otherworldly::after {
  content: '/';
}

#unseen {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
}