* {
  margin: 0;
}

html, body {
  height: 100%;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  background: var(--bg);
  color: var(--fg);
}

h1 {
  padding: 1em;
  padding-bottom: 0;
}

#husk {
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#shell {
  flex: 1;
  display: flex;
  justify-content: space-around;
  gap: 2em;
  padding: 1em;
}

#shell > div {
  display: flex;
  flex-basis: 50%;
  padding: 0;
  border: 1px solid var(--fg);
}

#asy, #svg {
  flex: 1;
  border: none;
  background: var(--mg);
  color: var(--fg);
  font-family: 'Inconsolata', monospace;
  font-size: larger;
}

#asy {
  padding: 0.5em;
}

svg {
  margin-left: auto;
  margin-right: auto;
}

#about p {
  margin: 0.5em 1em;
}

.broad {
  font-family: 'Andika', sans-serif;
}

.broad::before, .broad::after {
  content: '/';
}

#ight {
  font-size: xx-large;
}

#ight:hover {
  cursor: pointer;
  color: var(--shadow);
  filter: drop-shadow(0 0 5px var(--shadow));
}